@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Spartan";
    src: url('../fonts/Spartan/spartan/Spartan-wght.ttf');
}
:root{
    --white: #f3f4f6;
    --font-color1: #362102;
    --font-color2: #2e2b2b;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Spartan", sans-serif;
}

nav{
    position: fixed;
    color: #000;
    top: 0px;
    min-height: 64px;
    max-height: 64px;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    background-color: #fff;
    overflow: hidden;
}
#nav-content{
    display: grid;
    max-width: 850px;
    height: 53px;
    position: fixed;
    color: #000;
    top: 13px;
    left: 50%;
    transform: translate(-50%, 0);
    /*padding: 0 100px 14px 15px;*/
    border-bottom: 1px solid #000;
    grid-template-columns: 136px 1fr 85px;
    overflow: hidden;
}
nav .nav_logo{
    display: inline-block;
    height: 50px;
    /*top: 50%;
    transform: translate(0, -65%);*/
}
.nav_logo img{
    height: 100%;
}
.sn-logo{
    position: absolute;
    right: 0px;
    height: 30px;
    top: 50%;
    transform: translate(0, -50%);
}
.sn-logo img{
    height: 100%;
    margin-right: 20px;
    margin-left: -10px;
}
.nav-links{
    width: 100%;
    list-style-type: none;
    color: var(--font-color1);
    text-align: right;
    display: inline-block;
}
.link, .link a{
    color: #000;
    list-style-type: none;
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    padding: 11px 10px 0;
    margin: 0 auto;
    font-weight: 600;
    text-transform: uppercase;
}


.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
  z-index: -1;
}

.video-container iframe {
  position: absolute;
  top: 64px;
  left: -12%;
  width: 124%;
  height: 98%;
  z-index: -1;
  pointer-events: none;
}
section{
    margin-top: 0;
    padding: 50px 10px;
}
#title{
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
    border-bottom: 1px solid var(--font-color1);
    border-top: 1px solid var(--font-color1);
    padding-bottom: 35px;
}
#title h1{
    font-family: "Spartan",sans-serif;
    font-size: 30px;
    color: var(--font-color1);
    font-weight: 700;
    margin-bottom: 30px;
}
#title p{
    text-align:center;
    font-weight: 400;
    max-width: 900px;
    margin-bottom: 35px;
    color: var(--font-color2);
    font-size: 17px;
    line-height: 1.5;
}
#title p:last-child{
    margin-bottom: 0;
}

#servicios{
    background-color: #f1f1f1;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
}
h2{
    font-size: 30px;
    color: var(--font-color1);
    display: block;
    text-align: center;
    margin-bottom: 55px;
}
#service-holder{
    max-width: 800px;
    margin: 0 auto;
    justify-items: center;
}
.service{
    max-width: 500px;
    min-width: 300px;
    margin-bottom: 55px;
}
.service img{
    width: 100%;
}
.service p{
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color2);
    line-height: 1.5em;
    text-align: justify;
}
.semi-title{
    color: #b69239 !important;
    opacity: 90%;
    font-size: 18px !important;
    margin: 10px 0 5px;
}
.service span{
    font-style: italic;
    font-weight: 600;
}
.swiper{
    max-width: 900px;
    padding-bottom: 35px;
}
.swiper-slide{
    text-align: center;
}
.swiper-slide img{
    height: 250px;
}
